#####################################################################
# 	Doron Velta - 2024 - by emebe
#####################################################################
#####################################################################
# 	Macros Acciones
#####################################################################
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  SET_IDLE_TIMEOUT TIMEOUT=7200
  G91
  G1 E-{1} F2100
  G1 Z{10} F900
  G90
  G1 X{50} Y{0} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{1} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

#####################################################################
# 	Macros Acciones
#####################################################################
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  SET_IDLE_TIMEOUT TIMEOUT=7200
  G91
  G1 E-{1} F2100
  G1 Z{10} F900
  G90
  G1 X{50} Y{0} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{1} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    M400
    G91 ;relative positioning
    G1 E-4.0 F3600                 ; retract filament
    G90 ;absolute positioning
    G28
    M84
    TURN_OFF_HEATERS
    SET_GCODE_OFFSET Z=0.0
    RESETSPEEDS
    CLEAR_PAUSE

#####################################################################
# 	Macros Start & End Gcode
##################################################################### 
[gcode_macro START_PRINT]
gcode:
  CLEAR_PAUSE
  RESETSPEEDS
  G21 ;metric values
  G90 ;absolute positioning
  M83 ;extruder relative mode
  G28 ;home
  M104 S160 
  M190 S{params.BED_TEMP|default(printer.heater_bed.target, true) }; wait for bed to heat up
  #M109 S160 ; Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. Also allows the bed heat to spread a little.
  G28 Z ;Home again as Z will have changed after tilt adjustment and bed heating.
  SET_GCODE_OFFSET Z=0.0
  #G1 X4 Y3 Z0.5 F5000 ; move to start line position 
  M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true) }; wait for extruder to heat up
  PRIME_LINE
  M83  ; extruder relative mode
  G92 E0

[gcode_macro PRIME_LINE]
gcode:
    SAVE_GCODE_STATE NAME=Prepurge_State                                                    # Create gcode state
    G92 E0                                                                              # Reset extruder
    G0 F3600                                                                            # Set travel speed
    G90                                                                                 # Absolute positioning
    G0 Z10                                                                              #Initial move down for delta to reach purge location
    G0 X-15 Y-90                                                                        # Move to purge position
    G0 Z0.8                                                                             # Move to purge Z height
    M83                                                                                 # Relative extrusion mode
    G1 E5 F144                                                                          # Move filament tip
    G1 X15 E30 F144                                                                     # Purge line
    G1 E-.5 F2100                                                                       # Retract
    G0 X25 F12000                                                                       # Rapid move to break string
    G92 E0                                                                              # Reset extruder distance
    M82                                                                                 # Absolute extrusion mode
    G0 Z1.6 F12000                                                                      # Z hop
    RESTORE_GCODE_STATE NAME=Prepurge_State                                                 # Restore gcode state

[gcode_macro END_PRINT]
gcode:
    M400
    G91 ;relative positioning
    G1 E-4.0 F3600                 ; retract filament
    G90 ;absolute positioning
    G28
    M84
    TURN_OFF_HEATERS
    SET_GCODE_OFFSET Z=0.0
    RESETSPEEDS
    CLEAR_PAUSE
  
[gcode_macro RESETSPEEDS]
gcode:
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} 
	SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}  
	SET_VELOCITY_LIMIT ACCEL_TO_DECEL=1500
    #{printer.configfile.settings.printer.max_accel_to_decel} 
	SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity} 